{% capture html %}
<div class="search-overlay xx_x" id="search-overlay">
  <span class="close-icon search-close-icon">
    <a href="javascript:void(0)"  id="search-close-icon">
      <i class="ti-close"></i>
    </a>
  </span>
  <div class="search-overlay-content">
    <div class="input-box">
      <predictive-search id="predictive-search-toggle" search-open="false">
         <form action="{{ routes.search_url }}" method="get" role="search" class="input-group search-bar">
              <input
                   id="Search"
                   type="search"
                   name="q"
                   value="{{ search.terms | escape }}"
                   {%- if settings.predictive_search_enabled -%}
                   role="combobox"
                   aria-expanded="false"
                   aria-owns="predictive-search-results-list"
                   aria-controls="predictive-search-results-list"
                   aria-haspopup="listbox"
                   aria-autocomplete="list"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off"
                   spellcheck="false"
                   {%- endif -%}
                   class="input__search"
                   placeholder="{{ 'general.search.placeholder' | t }}"
                   >
                <button type="submit" class=""><i class="ion-ios-search-strong"></i></button>
            
              <input name="options[prefix]" type="hidden" value="last">
              {%- if settings.predictive_search_enabled -%}
              <div id="predictive-search" tabindex="-1"></div>
              {%- endif -%}
      </form>

      </predictive-search>
    </div>
  </div>
</div>

{% endcapture %}
{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}